* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: whitesmoke;
    background-color: black;
}

h1 {
    font-family: 'Jost', sans-serif;
    color: black;
}
h2,h3 {
    font-family: 'Jost', sans-serif;
    color: whitesmoke;
}
.header {
    background-color: white;
    color: black;
    padding: 15px 0;

}

.cont{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;   
}

.nav-list a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;

}

section{
    padding: 300px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* margin: calc(50vh - 76px) 0 50vh 0;
    transform: translateY(-50%); */
}

section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

section p {
    font-family: 'Jost',sans-serif;
    margin: 20px 10px;

}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 10px 10px;
}

.button:hover {
    background-color: yellow;
    border: 2px solid transparent;
    box-shadow: 0 0 25px whitesmoke;
}

.modules {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;             
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.modules button {
    text-align: center;
}
.modules h3 {
    font-family: 'Jost',sans-serif;
}

.modules p {
    font-family: 'Jost',sans-serif;
}

.module-card {
    background-color: #818181;  
    border: 1px solid #333;
    border-radius: 15px;
    padding: 30px 25px;
    width: calc(33.333% - 20px); 
    min-width: 280px;
    transition: all 0.3s ease;
    text-align: left; 
}

.footer {
    padding: 20px 20px;
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
}
